{% if PODMAN_KUBE_CONFIGMAP_MANIFESTS is defined and PODMAN_KUBE_CONFIGMAP_MANIFESTS | length > 0 %}
{% for CONFIGMAP in PODMAN_KUBE_CONFIGMAP_MANIFESTS %}
---
{{ CONFIGMAP | to_nice_yaml(indent=2) }}
{% endfor %}
{% endif %}
{% if PODMAN_KUBE_SECRET_MANIFESTS is defined and PODMAN_KUBE_SECRET_MANIFESTS | length > 0 %}
{% for SECRET in PODMAN_KUBE_CONFIGMAP_MANIFESTS %}
---
{{ SECRET | to_nice_yaml(indent=2) }}
{% endfor %}
{% endif %}
{% if PODMAN_KUBE_POD_MANIFESTS is defined and PODMAN_KUBE_POD_MANIFESTS | length > 0 %}
{% for POD in PODMAN_KUBE_POD_MANIFESTS %}
---
{{ POD | to_nice_yaml(indent=2) }}
{% endfor %}
{% endif %}
